#wrap{
	width: 480px;
	padding: 0px;
	margin: 0px;
}

#bckgrndPix{
    z-index: -1;
    position: fixed;
    top:400px; 
    
}

#bgimg{
    width: 480px;
    height: 300px;
    
}

body{
    padding: 0 auto;
}


#header{
    width: 100%;
    height: 100px;
    padding:0px;
    background-color: rgba(92,171,255,1);
    position: relative;
    border-bottom: 10px lightgreen solid;
    
}

h1{

 text-align: center;
 font-family: 'Orbitron', sans-serif;
 font-size: 60px;
 color: red;
 
 

    
}

#myForm{
	
	
	top: 300px;
	left: 200px;
	border: solid 1px black;
	height: 200px;
	width: 600px;
	position: ; 
	padding: 10px;

}




 nav{
 	
    height: 100px;
    width: 100%;
    padding-left: 0px:;
    
    background-color: blue;
   
    

    
} 

#map1{

	

}  

nav ul{
	background-color: red;
	
   
    

}

nav ul li{
	margin-left:60px;
	border: inset;
	margin-right: 0;
    font-family: Verdana;
    font-size: 25px;
   
}

nav ul li a {
	
    text-decoration: none;
    color: black;

}



#mainContent{
    width: 100%;
    height: 10px;
    float: left;
    background-color: rgba(92,171,255,.4);
}

#help{
    font-family: Verdana;
    font-size: 35px;
    text-align: center;
    color: red;
    font-weight: bold;
    margin-top: 80px;
}

.twoP{
    font-family: Verdana;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 600px;
    
}



#picBar{
	width: 100%;
	
	

}

#onePic{
  border: solid grey 5px;
  position: relative;
  top: 180px;
  left: 60px;
 


}

#threePic{
    border: solid grey 5px;
    position: relative;
    top: 260px;
    left: 60px;
    
    height: 199px;

    }

#pbVolunteer{
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(255,255,255,.5);
    font-size: 30px;
    position: relative;
    top: -40px;
    left: 100px;
    z-index: 2;
    clear: left;
    width: 200px;


}

#pbVolunteer p{
    margin: 0px;
    padding: 0px;
    text-align: center;
}    

   

 #pbDonate{
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(255,255,255,.5);
    font-size: 30px;
    position: relative;
    top: -40px;
    left: 100px;
    z-index: 2;
    clear: left;
    width: 200px;


}

 #pbDonate p{
    margin: 0px;
    padding: 0px;
    text-align: center;
}  

#shopb{
    position: relative;
    float: right;
    z-index: 5;
}

#quote{
    color: black;
    
    position: relative;
    top: 0px;
    width: 460px;
    height: 160px;
    margin-top: 0px;
    margin-left: 15px;
    text-align: center;

}

#moneySelection{
    position: relative;
	font-size: 60pt;
	padding: 0px;
	margin-top: 0px;
	color: red;
	margin-top: 10px;
	
	width: 460px;


}

#submitB{
	color: red;
	width: 100px;
	padding: 0px;
}






#footer{
width: 100%;
height: 10px;
margin-top: 0px;

font-size: 40pt;
padding: 10px;
color: red;
   
}

#footer p{
	background-color: rgba(0,0,0,0.1);
	padding-left: 0px;
	text-align: center;
}
















